@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300;500;600&display=swap");

/* -------------------------------- colors */
$red: #ce504a;
$grey: #9e9da3;
$black: #333234;
$white: #f4f5f7;
$orange: #d79863;

*,
*::after,
*::before {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
